.sunsetImg{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.sunriseImg{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.timeIconText{
    position: absolute;
    bottom: 20px;
    right: 70px;
    font-size: 10px;
}

.currentTime{
    position: absolute;
    bottom: 10px;
    right: 70px;
    font-size: 10px;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.iconMenu{
    justify-content: flex-end;
}

.section{
    color: white;
    display: flex;
}